<h1>Kang's ラーメンのかんたん予約</h1>
<%= form_for @reservation do |f| %>
    <div class = "reservation_info">
    <%= f.date_field :date %>
    <%= f.select :time, {'10:00': '10:00', '11:00': '11:00', '12:00':  '12:00', '13:00': '13:00', '14:00': '14:00', '15:00': '15:00', '16:00': '16:00', '17:00': '17:00', '18:00': '18:00', '19:00': '19:00'},
    { include_blank: '時間'}, {} %>
    <%= f.select :adult, {'0': '0','1': '1', '2': '2', '3': '3', '4': '4',  '5': '5'}, { include_blank: '大人'}, {} %>
    <%= f.select :child, {'0': '0','1': '1', '2': '2', '3': '3', '4': '4',  '5': '5'}, { include_blank: '子供'}, {} %>
    <div>
<%# menu %>
<section id="menu">
    <h1>メニュー</h1>
    <div class="menu_box">
    <% @menus.each do |menu| %>
    <article class="ramen">
        <% menu.image.each do |image| %>
        <%= image_tag image, size: 10*10 %>
        <% end %>
        <h3 class="title"><%= menu.title %></h3>
        <span class="price"><%= number_to_currency(menu.price) %></span>
        <%= select_tag( menu.id, options_for_select(["0","1","2","3","4","5","6","7","8","9","10"]), class: "select_menu") %>
        <%= hidden_field_tag 'menu_ids[]', "" , class: "menu_ids" %> 
        <%= hidden_field_tag 'menu_quantity[]' , "", class: "menu_quantity" %> 
    </article>
    <% end %>   
    </div>
</section>
    <%= f.submit "予約する", type: :button, class: "submit_btn" %>
<% end %>
<style>
    body {
        text-align: center;
        margin-top: 50px;
    }

    form {
        max-width: 500px;
        margin:0 auto; 
    }

    .reservation_info {
        margin-top: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input, select{
        width: 300px;
        height: 40px;
        box-sizing: border-box;
        border: 3px solid #000;
        border-radius: 12px;
        outline: none;
        margin-bottom: 24px;
    }

    .menu_box {
        display: flex;
       
    }
    .menu_box img {
        border-radius: 50%;
    }
    
    .select_menu {
        margin-top: 6px;
        width: 100px;
        height: 30px;
    }
</style>

<script>
    const menu_ids = document.querySelectorAll('.menu_ids');
    const menu_quantity = document.querySelectorAll('.menu_quantity');
    const submit_btn = document.querySelector('.submit_btn');
    const form = document.querySelector('form');
  
    submit_btn.addEventListener('click', () => {
    document.querySelectorAll('.select_menu').forEach((select_menu, select_menu_index) => {
        if (select_menu.value != 0) {
            menu_ids[select_menu_index].value = select_menu.name;
            menu_quantity[select_menu_index].value = select_menu.value;       
        }  
        });              
        form.submit();
   });
</script>