<h1>予約確認</h1>

<ul class = "reservation_info" >
    <li><span>日付: </span><%= @reservation.date %></li>
    <li><span>時間: </span><%= @reservation.time %></li>
    <% if @reservation.adult.present? %>
    <li><span>大人: </span><%= @reservation.adult %></li>
    <% end %>
    <% if @reservation.child.present? %>
    <li><span>子供: </span><%= @reservation.child %></li>
    <% end %>
</ul>

<% @reservation.reservation_menus.each do |reservation_menu| %>
    <ul class = "reservation_info_menu" >
    <% reservation_menu.menu.image.each do |image| %>
    <li><%= image_tag image, size: 8*8 %></li>
    <% end %> 
    <li><%=reservation_menu.menu.title %></li>
    <li><%=reservation_menu.quantity %></li>
    <li><%= number_to_currency(reservation_menu.menu.price * reservation_menu.quantity) %></li>
    </ul>
<% end %>
<div>
<%= link_to "決済する", {}, class: "payment_btn" %>
</div>
<%= form_with url: payments_path do |f| %>
    <%= hidden_field_tag 'reservation_id', @reservation.id %>
    <%= hidden_field_tag 'stripeToken' %>
    <%= hidden_field_tag 'stripeEmail' %>
    <%= hidden_field_tag 'amount' %>
<% end %>

<style>

    body {
        width: 800px;
        margin: 50px auto 100px auto;
    }

    ul, li {
        list-style: none;
        margin: 0; padding: 0;
    }

    .reservation_info {
        font-size: 20px;
    }

    .reservation_info_menu {
        border: 1px solid #808080;
        border-radius: 12px;
        padding: 8px 12px;
        margin: 12px 0;     
    }

    .reservation_info_menu img {
        border-radius: 50%;
    }

</style>

<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
            // #ボタンを押した際のcheckoutのフォームはStripeCheckout.configureで設定する
            var handler = StripeCheckout.configure({
                //StripeのAPIキーを引っ張ってくる
                key: 'pk_test_51K7ZqTJZ9QJfM1QbCiK3uwVmngqko90QG5dxfr5H0K6pye9gxUbdMQiqudGFodMkliZLa77UKvSHMx4i4jdT1Kj000c1FeVr6F',
                locale: 'auto', //言語の設定（autoの場合、ユーザのブラウザ規定言語が呼び出される）
                currency: 'jpy',
                // image: "image/directory", もしstripe checkoutのフォーム上部に画像を入れたい場合はここで指定する
                panelLabel: "{{amount}}のお支払い", //checkoutボタンの表示文字、{{amount}}の中に金額が入る
                allowRememberMe: false, //RememberMeを使いたい場合はここをtrueにする
                token: function(token,arg) { //ここでstripeTokenとstripeEmailに値を入れてsubmitする
                    document.querySelector('#stripeToken').value = token.id;
                    document.querySelector('#stripeEmail').value = token.email;
                    document.querySelector('#amount').value =  <%= @reservation.menu_total_price %>;
                    document.querySelector('form').submit();
                }
            });

         const payment_btn = document.querySelector('.payment_btn');
         payment_btn.addEventListener('click', (e)=> {
                e.preventDefault();
                 handler.open({
                    name: "Kang's Ramen",
                    description: 'ラーメン',
                    amount: <%= @reservation.menu_total_price %>
            });
            });

</script>