<div class="container">

<%# header %>
<header>  
    <h1 class="logo"><%= image_tag "logo.png" %></h1>

    <section class = "menu_container">
    <ul class= "main_menu">
        <li data-link ="#concept">コンセプト</li>
        <li data-link ="#menu">メニュー</li>
        <li data-link ="#game_info">試合情報</li>
        <li data-link ="#access">アクセス</li>
        <li data-link ="#contact">コンタクト</li>
    </ul>
     <ul class= "sub_menu">
        <li><%= link_to "予約", new_reservation_path %></li>
         <% if user_signed_in? %>
        <li><%= link_to "予約確認", reservations_path %></li>
        <li><%= link_to current_user.email, edit_user_registration_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "本当にログアウトしますか?"}  %></li>
       
        <% else %>
        <li><%= link_to "ログイン", new_user_session_path %></li>
        <li><%= link_to "会員登録", new_user_registration_path %></li>
        <% end %>

    </ul>
    </section>
</header>

<%# review %>
<section id="review">
    <h1>レビュー</h1>
    <% @reviews.each do |review| %>
    <article class = "review_info">
    <% if review.image.attached? %>
    <%= image_tag review.image[0], size: 8*8 %>
    <% else %>
     <%= image_tag 'noimage.png', size: 8*8 %>
    <% end %>
    <p><%= review.comment %></p>
    </article>
    <% end %>
    <%= link_to "もっと見る", reviews_path, class: :to_reviews_btn %>
</section>

<%# concept %>
<section id="concept">
    <h1>コンセプト</h1>
    <h1 class="concept_img"><%= image_tag "concept_img.png" %></h1>
</section>

<%# menu %>
<section id="menu">
    <h1>メニュー</h1>
    <div class="menu_box">
    <% @menus.each do |menu| %>
    <article class="ramen">
        <% menu.image.each do |image| %>
        <%= image_tag image %>
        <% end %>
        <h3 class="title"><%= menu.title %></h3>
        <span class="price"><%= number_to_currency(menu.price) %></span>
        <p class="description"><%= menu.description %></p>
    </article>
    <% end %>  
    </div>
</section>

<%# game info %>
<section id="game_info">
    <h1>試合情報</h1>
    <div class="game_info_box">
    <article class="my_team team">
    <%= image_tag @game_info.my_team_logo %>
    <span class="my_team_score"><%= @game_info.my_team_score %></span>
    </article>
     <article class="opponent_team team">
     <span class="opponent_team_score"><%= @game_info.opponent_team_score %></span>
    <%= image_tag @game_info.opponent_team_logo %>
    </article>
    </div>
</section>

<%# access %>
<section id ="access">
<h1>アクセス</h1>
<div class="access_box">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d207541.7566105942!2d139.46656072431085!3d35.63167202677041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca8749c6b39%3A0xf2802bee15a9a6e!2z5LiA6JitIOa4i-iwt-W6lw!5e0!3m2!1sja!2skr!4v1654148073598!5m2!1sja!2skr" width="350" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<article class= "access_description">
営業時間: 10:00 ~ 19:00</br>
定休日なし</br>
来店予約がおすすめです!
</article>
</div>
</section>

<%# contact %>
<section id="contact">
<h1>コンタクト</h1>
<div class="contact_box">
 連絡先</br>
 電話番号: 010-3401-2679</br>
 メールアドレス: kkw3401@gmail.com
</div>
</section>

</div>

<style>

    body {
        background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
    }

    * {
        margin: 0; padding: 0;
    }
  
    ul,li {
       list-style: none;
    }

    a {
        color: #000;
        text-decoration:none;
    }

    h1 {
        margin: 70px 0 20px 0; 
        font-size: 30px;
    }

    section {
        text-align: center;
    }

    .container {
        max-width: 1200px;
        margin:0 auto;
        padding: 50px 30px;
    }

    .menu_container {
       display: flex;
       justify-content: center;
       align-items: center;
    }

    /* header logo */
    .logo {
       margin: 0 auto;
       text-align: center;
    }

    .logo img {
        width: 450px;
    }

    /* header main menu, sub menu */
    .main_menu, 
    .sub_menu{
        display: flex; 
        margin: 30px 0 30px 0;  
    }

    .main_menu li, 
    .sub_menu li {
        padding: 8px 12px;
        cursor: pointer;
        font-weight: 600;
        font-size: 18px;
    }

    .main_menu li:hover, 
    .sub_menu li:hover {
        text-decoration: underline;
    }

    /* review */
    #review {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin: 0 auto;
    }

    .review_info {
        height: 64px;
        padding: 6px;
        font-size: 12px;
        display: flex;
        justify-content: start;
        align-items: center;
        background: #fff;
        margin-bottom: 6px;
        border-radius: 8px;
    }

    .review_info img {
        border-radius: 8px;
    }

    .review_info p {
        margin-left: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .to_reviews_btn {
        align-self: end;
        padding: 4px 8px;
    }

    .to_reviews_btn:hover {
        text-decoration: underline;
    }
    
    /* concept */
    .concept_img {
        margin: 0 auto;
        text-align: center;
    }

    .concept_img img {
        width: 600px;
    }

    /* menu (ramen) */
    .menu {
        display: flex;    
        flex-direction: column; 
    }

    .menu_box {
        display: flex;        
    }

    .menu_box article {
        width: 25%;   
    }

    .menu_box h3 {
        margin: 4px 0 2px 0;
    }

    .menu_box span {
        margin-bottom: 8px;
    }

    .menu_box img{
        width: 200px;
        border-radius: 50%;
    }

    /* game info */

    .game_info {
        margin: 0 auto;
    }

    .game_info_box{
        width: 500px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .team {
        width: 250px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 38px;
    }

    /* access */

    .access_description {
        margin-top: 30px;
        font-size: 18px;
    }

    /* contact */
    
    .contact {
        margin-bottom: 100px;
    }

    .contact_box {
        font-size: 18px;
        line-height: 2;
    }

</style>

<script>
    document.addEventListener('click', (e) => {
        let link = e.target.dataset.link;
        if(link == null) {
            return;
        }
        scrollIntoView(link);
    });

    function scrollIntoView(selector) {
       const scrollTo =  document.querySelector(selector);
       scrollTo.scrollIntoView( { behavior: 'smooth' } )
    }

    //予約、決済結果 alert
    <% if flash[:notice].present? %>
        alert("<%= flash[:notice] %>")
    <% end %>
</script>